rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function admin() {
      return signedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{uid} {
      allow create: if signedIn() && request.auth.uid == uid;
      allow read: if signedIn() && (request.auth.uid == uid || admin());
      allow update: if signedIn() && (request.auth.uid == uid || admin());
      allow delete: if admin();
    }

    match /settings/{id} {
      allow read: if signedIn();
      allow write: if admin();
    }

    match /members/{id} {
      allow read: if signedIn();
      allow create, update, delete: if admin();
    }

    match /transactions/{id} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if admin() || resource.data.createdBy == request.auth.uid;
    }

    match /dues/{id} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if admin();
    }
  }
}
